<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for Recipe.new, html: { multipart: true } do |f| %>
      <%= f.input :title, label: 'Recipe Name' %>
      <%= f.input :description, label: 'Ingredients' %>
      <%= f.input :instructions, label: 'Instructions' %>
      <%= f.input :image, label: false %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>

