<h1>MetaRecipes</h1>

<% @recipes.each_slice(3) do |slice| %>
  <div class="row" data-equalizer>
  <% slice.each do |recipe| %>
    <div class="medium-4 columns panel recipe-card" data-equalizer-watch>
      <%= link_to recipe.title, recipe_path(recipe), :class => "recipe-card-title" %>
      <%= link_to image_tag(recipe.image), recipe_path(recipe) %>
      <%= rating_for recipe, "overall" %></p>
    </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <%= link_to 'Add recipe', new_recipe_path, :class => "button radius", 'data-reveal-id' => 'newRecipe'%>
</div>

<div id="newRecipe" class="reveal-modal" data-reveal>
  <%= render 'recipes/new' %>
</div>

