<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for @recipe, html: { multipart: true } do |f| %>
      <%= f.input :title, label: 'Recipe Name' %>
      <%= f.input :description, label: 'Measurements' %>
      <%= f.input :text, label: 'Instructions', as: :text %>
      <%= f.input :image, label: false %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

